.section {
	padding-top: 60px;
	padding-bottom: 60px;

	&--dark {
		background-color: $bcgSecondary;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;

		&--bottom {
			padding-bottom: 0;
		}
	}
}

.section__title {
	margin-bottom: 30px;

	color: $headerColor;

	font-size: 28px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-align: center;

	@media screen and (min-width: 1200px) {
		margin-bottom: 50px;
		font-size: 36px;
	}
}
