.filter {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 350px;
	gap: 8px;

	margin-bottom: 40px;

	@include tablet {
		justify-content: center;
		flex-wrap: nowrap;
		max-width: 100%;
		margin-bottom: 30px;
	}

	@include desktop {
		margin-bottom: 50px;
	}
}

.filter__item:nth-child(2) {
	flex-shrink: 1;
}
