.logo {
	color: $accentGeneral;

	font-family: $fontLogo;
	font-size: 24px;
	line-height: 1.17;

	&--header {
		margin-right: 93px;
	}

	&--footer {
		display: inline-block;
		margin-bottom: 20px;
	}
	@media (max-width: 767px) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.logo__part {
	@include colored($logoPartHeader);

	&--inverse {
		@include colored($logoPartFooter);
	}
}

@media screen and (min-width: 1200px) {
	.logo {
		font-size: 26px;
		line-height: 1.19;

		&--header {
			margin-right: 93px;
		}
	}
}
