$primaryColor: #757575;
$secondaryColor: #ffffff;
$headerColor: #212121;
$accentGeneral: #2196f3;
$accentButton: #188ce8;
$adressColor: rgba(255, 255, 255, 0.6);
$iconColor: #afb1b8;
$typingColor: #000000;
$placeholderColor: rgba(117, 117, 117, 0.5);

$logoColor: #2196f3;
$logoPartHeader: #000000;
$logoPartFooter: #ffffff;

$borderHeader: #ececec;
$borderPortfolio: #eeeeee;
$borderForm: rgba(33, 33, 33, 0.2);
$borderMailing: rgba(255, 255, 255, 0.3);
$borderModalButton: rgba(0, 0, 0, 0.1);

$bcgGeneral: #ffffff;
$bcgSecondary: #f5f4fa;
$bcgFooter: #2f303a;
$bcgIconFooter: rgba(255, 255, 255, 0.1);
$bcgBackdrop: rgba(0, 0, 0, 0.2);
$bcgOverlayWork: rgba(47, 48, 58, 0.8);
$bcgOverlayPortfolio: rgba(33, 150, 243, 0.9);

$timeTransition: cubic-bezier(0.4, 0, 0.2, 1);

$gradient: rgba(47, 48, 58, 0.4);

$fontMain: "Roboto";
$fontLogo: "Raleway";
