.page-footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: $bcgFooter;
}

.page-footer__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 60px;

	@include tablet {
		align-items: baseline;
	}
	@include desktop {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.page-footer__item {
	text-align: center;
}
