.work {
	display: flex;
	gap: 30px;
}

.work__item {
	flex-basis: calc((100% - 60px) / 3);
}

.work__text {
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;

	color: $secondaryColor;
	background-color: $bcgOverlayWork;
}
