.section--hidden {
	@include toDesktop {
		display: none;
	}
}

.work {
	@include desktop {
		display: flex;
		gap: 30px;
	}
}

.work__item {
	@include desktop {
		flex-basis: calc((100% - 60px) / 3);
	}
}

.work__text {
	@include desktop {
		display: flex;
		justify-content: center;
		align-items: center;

		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;

		color: $secondaryColor;
		background-color: $bcgOverlayWork;
	}
}
